body {
  background-color: #f6f6f6;
}

.text {
  font-family: "Lato", sans-serif;
}

.button {
  background-color: #0066c7;
  color: white;
  font-weight: 350;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 3px;
}

.button:hover {
  background-color: #005eb7;
  color: white;
}

button:focus {
  outline: none !important;
}

.search {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  outline: none;
}

.search:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
}

.search-results {
  //background-color: #aeaeae;
  //border-radius: 5px;
}

.flex-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
  margin: 15px;
  padding: 5px;
}

.flex-container p {
  text-align: right;
}

li {
  list-style-type: none;
  list-style-position: inside;
  border-bottom: 1px dotted grey;
  padding: 0.5rem;
}

p {
  border-bottom: 1px dotted grey;
  padding: 0.1rem;
}

.flex-container span {
  margin: 50px;
  padding: 5px;
}

.flex-container div {
  margin: 5px;
}

.ex {
  padding: 5px;
}

.plus {
  padding: 5px;
}
