body {
  background-color: #f6f6f6;
  //#1f1f20
}

//main page
header h {
  position: relative;
  padding-right: 35rem;
}

.flex-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  overflow: hidden;
  margin: 15px;
  padding: 5px;
}

.flex-container div {
  margin: 5px;
}

.flex-container span {
  margin: 50px;
  padding: 5px;
}

.text {
  font-family: "Lato", sans-serif;
}
